.project {
    section.left {
        height: auto;
        width: auto;
        position: absolute;
        background-color: transparent;
        overflow-y: hidden;
        z-index: 1000;
        a {
            color: black;
            background-image: none;
        }
        ul:nth-child(3) {
            li a::before {
                content: "+ ";
            }
        }
        #filters {
            padding-top: 40px;
            direction: ltr;
            input {
                font-family: "Sometype Mono";
                background-image: none;
                width: 75px;
                line-height: 2;
                font-size: 0.9rem;
                cursor: pointer;
            }
            a {
                text-decoration: none;
                &::before {
                    content: "";
                }
            }
        }
    }
    section.right {
        overflow-y: hidden;
        width: 100% !important;
        padding: 40px 0 40px 0;
        div#buttons {
            direction: ltr;
        }
        #grid-container {
            direction: ltr;
            display: flex;
            overflow-x: scroll;
            overflow-y: hidden;
            height: calc(100% - 40px);
            & > div:first-of-type {
                padding-left: 30vh;
            }
            & > div {
                padding-right: 6vh;
                position: relative;
            }
            h2 {
                font-size: 0.9rem;
                line-height: 1.5;
                padding-top: 20px;
            }
            img {
                width: 75vh;
            }
            .portrait {
                img {
                    width: 50vh;
                }
            }
            video {
                width: 75vh;
                height: inherit;
                margin-top: 5px;
            }
            .text {
                position: absolute;
                column-width: 75vh;
                column-fill: auto;
                column-gap: 6vh;
                top: 0;
                padding-left: 0;
                padding-bottom: 10px;
                /* margin-top: 20px; */
                .text-column {
                    width: 75vh;
                    p {
                        font-size: 1.5rem;
                        line-height: 1.5;
                        margin: 0;
                        /* padding: 0 20px; */
                        text-align: left;
                        background-color: white;
                        display: inline;
                    }
                }
            }
        }
        #back {
            position: absolute;
            left: 0;
            bottom: 0;
            z-index: 1000;
            padding: 20px 40px;
        }
        #back a {
            font-family: $font;
            text-decoration: none;
            color: black;
            font-size: 1.5rem;
            pointer-events: auto;
        }
    }


    @media (orientation: portrait) {
        section.right {
            div#buttons {
                direction: rtl;
            }
            #grid-container .text {
                column-width: auto;
                margin: 0;
                .text-column {
                    width: auto;
                    direction: ltr;
                    p {
                        padding: 0;
                    }
                }
            }
        }
    }

    @media (max-width: 600px) and (orientation: portrait) {
        .container {
            width: calc(100% - 40px);
            padding-right: 0;
        }
        section {
            padding: 0;
        }
        section.left {
            width: 100%;
            background-color: white;
            height: auto;
        }
        section.left ul {
            padding-bottom: 40px;
        }
        section.right {
            padding: 0;
            #buttons {
                padding-top: 20px;
            }
            #grid-container {
                justify-content: flex-start;
                flex-direction: column;
                overflow-x: hidden;
                overflow-y: scroll;
                direction: rtl;
                & > div:first-of-type {
                    /* padding-top: 40px; */
                    padding-top: 80px;
                }
                & > div, & > div.portrait, & > div:first-of-type {
                    padding-right: 0;
                    padding-bottom: 6vh;
                    padding-left: 40px;
                }
                img, .portrait img, video {
                    width: 100%;
                }
                .text {
                    padding-left: 40px;
                }
            }
        }
        section.right h2 {
            line-height: 1.5;
            padding-top: 10px;
            margin-bottom: 0;
            direction: ltr;
        }
        #filters {
            position: absolute;
            display: flex;
            flex-direction: row;
            top: 0;
            left: 0;
            margin: 0;
            padding: 20px 0 0 40px;
            list-style: none;
            z-index: 999;
            direction: ltr;
            a {
                text-decoration: none;
            }
        }
        #back {
            display: none;
        }
    }

    @media (max-height: 600px) and (orientation: landscape) {
        section.left #filters {
            padding-top: 20px;
        }
        section.right {
            padding-top: 20px;
            div#buttons {
                right: 20px;
            }
            #grid-container {
                height: calc(100% - 10px);
                & > div:first-of-type {
                    padding-left: 50vh;
                }
                img, .portrait img, video {
                    width: 35vh;
                }
                h2 {
                    padding-top: 0;
                    margin-top: 5px;
                    font-size: 0.75rem;
                }
                .text {
                    margin: 0;
                    padding: 0;
                    column-width: 35vh;
                    .text-column {
                        width: 35vh;
                        p {
                            padding: 0;
                            font-size: 0.75rem !important;
                        }
                    }
                }
            }
        }
        .menu-bar {
            height: 30px;
            padding-bottom: 10px;
        }
        #back {
            padding-bottom: 10px;
        }
    }

    @media (max-width: 1024px) {
        #filters {
            padding-top: 20px;
        }
        section.right #grid-container .text .text-column p {
            font-size: 0.9rem;
        }
    }

    @media (min-height: 768px) and (max-width: 1280px) and (orientation: portrait) {
        section.right {
            padding: 0;
            #buttons {
                padding-top: 40px;
                right: 20px;
            }
            #grid-container {
                justify-content: flex-start;
                flex-direction: column;
                overflow-x: hidden;
                overflow-y: scroll;
                direction: rtl;
                & > div, & div.portrait {
                    padding: 40px 40px 1vh 0;
                }
                & > div:last-of-type {
                    padding-bottom: 80px;
                }
                h2 {
                    direction: ltr;
                    width: 50vh;
                }
                img, video {
                    width: 50vh;
                }
                .text {
                    column-width: 50vh;
                    margin: 0;
                    padding-top: 40px;
                    padding-left: 0;
                    .text-column {
                        width: 50vh;
                        direction: ltr;
                        p {
                            padding: 0;
                        }
                    }
                }
            }
            .menu-bar {
                width: 50vh !important;
                right: 40px;
            }
        }
    }

    @media (min-height: 768px) and (max-width: 1280px) and (orientation: landscape) {
        section.right {
            #grid-container {
                height: calc(100% - 25px);
            }
            .menu-bar {
                height: 65px;
            }
        }
    }
    .top {
        z-index: 2;
        position: relative;
    }
    .small {
        width: 50vh !important;
    }
}
